graphics/Colors$1.class
graphics/Colors$1CompColor.class
graphics/Colors.class
javafxstuff/NamedArg.class
javafxstuff/Point3D.class
knapsack/Cube.class
knapsack/Edge3D.class
knapsack/Knapsack.class
knapsack/Plane3D.class
knapsack/Size3D.class
knapsack/SortState.class
knapsack/Variables.class
knapsack/parcel/Parcel.class
knapsack/parcel/Parcels.class
knapsack/parcel/PentominoParcel.class
knapsack/parcel/SimpleParcel.class
.classpath
.project
/.idea/
/bin/
.idea/